* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url('building.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    justify-content: center;
    display: flex;
    position: relative;
}

.main {
    width: 70%;
    /* background-color: aqua; */
}


.logo {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;

}

.imlogo {
    display: flex;
    width: 35%;
    height: 16vh;
}

.imlogo img {
    width: 15%;
    height: 13vh;
    color: white;

}

.imlogo .imgtext {
    width: 20%;
    padding-left: 0.4rem;
    color: white;
    font-size: 1.3rem;
}

.signin {
    display: flex;
}

.signin p {
    color: white;
    font-size: 1.7rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    border-right: 1px solid white;
    padding-right: 4rem;
    color: white;
    margin-top: 0.7rem;
    font-size: 2rem;
}

.textworld {
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ships {
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    word-spacing: 0.3rem;

}

.around {
    color: white;
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.btnfirst {
    background-color: white;
    color: skyblue;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    padding: 1.6rem 3rem;
    font-size: 1.4rem;
}

.asmain {
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
}

.facility {
    padding: 4rem 2rem;
    position: absolute;
    /* top: 80rem; */
    margin-top: -5rem;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.iconsabout {
    padding: 2rem 3rem;
    border-right: 1px solid black;

}

.icon {
    font-size: 4.5rem;
}

.abouticon {
    font-weight: bold;
    color: blue;
}

.main3 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.whyChoose {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.whyus p {
    font-size: 4rem;
    font-weight: 1000;
    color: blue;
}

.imagesection {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 40vh;
    border: 3px solid black;
    position: relative;
}

.imga {
    width: 80%;
    height: 35vh;
}

.image1 {
    width: 100%;
    position: absolute;
    height: 35vh;
    /* z-index: 1; */
    transition: 0.3s ease-in-out;
}

.image2 {
    width: 100%;
    position: absolute;
    top: -60px;
    left: 50px;
    height: 35vh;
    transition: 0.3s ease-in-out;
}

.image3 {
    width: 100%;
    height: 35vh;
    position: absolute;
    /* top: -50px; */
    left: 100px;
    bottom: -30px;
    transition: 0.3s ease-in-out;
}

.image1:hover {
    z-index: 1;
    transform: scale(1.1);

}

.image2:hover {
    z-index: 1;
    transform: scale(1.1);

}

.image3:hover {
    z-index: 1;
    transform: scale(1.1);

}